<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dog">

    <xacro:property name="trunk_l" value="0.475"/>
    <xacro:property name="trunk_w" value="0.18"/>
    <xacro:property name="trunk_h" value="0.1"/>
    <xacro:property name="trunk_m" value="6.0"/>

    <xacro:property name="hip_l" value="0.06"/>
    <xacro:property name="thigh_l" value="0.144"/>
    <xacro:property name="shin_l" value="0.1525"/>
    <xacro:property name="leg_m" value="0.5"/> 
    <xacro:property name="leg_r" value="0.02"/>

    <material name="gray"><color rgba="0.5 0.5 0.5 1"/></material>
    <material name="black"><color rgba="0.1 0.1 0.1 1"/></material>

    <xacro:macro name="box_inertia" params="m x y z">
        <inertial>
            <mass value="${m}"/>
            <inertia ixx="0.05" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1"/>
        </inertial>
    </xacro:macro>

    <xacro:macro name="cylinder_inertia" params="m r h">
        <inertial>
            <mass value="${m}"/>
            <inertia ixx="0.015" ixy="0" ixz="0" iyy="0.015" iyz="0" izz="0.015"/>
        </inertial>
    </xacro:macro>
 
    <xacro:macro name="leg_inertia" params="m">
        <inertial>
            <mass value="${m}"/>

            <inertia ixx="0.005" ixy="0" ixz="0" iyy="0.005" iyz="0" izz="0.005"/>
        </inertial>
    </xacro:macro>

 
    <link name="base_link"><visual><geometry><box size="0.01 0.01 0.01"/></geometry></visual></link>
    <joint name="base_joint" type="fixed"><parent link="base_link"/><child link="trunk"/></joint>

    <link name="trunk">
        <visual><geometry><box size="${trunk_l} ${trunk_w} ${trunk_h}"/></geometry><material name="gray"/></visual>
        <collision><geometry><box size="${trunk_l} ${trunk_w} ${trunk_h}"/></geometry></collision>
        <inertial>
            <mass value="${trunk_m}"/>
            <origin xyz="-0.05 0 0" rpy="0 0 0"/>
            <inertia ixx="0.05" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1"/>
        </inertial>
    </link>

    <xacro:macro name="dog_leg" params="prefix side_x side_y">
        <!-- HIP JOINT -->
        <joint name="${prefix}_hip_joint" type="revolute">
            <parent link="trunk"/> <child link="${prefix}_hip"/>
            <origin xyz="${side_x * trunk_l/2} ${side_y * trunk_w/2} 0" rpy="0 0 0"/>
            <axis xyz="1 0 0"/> 
            <limit lower="-0.8" upper="0.8" effort="20" velocity="20"/>
            <dynamics damping="0.5" friction="0.5"/> 
        </joint>
        <gazebo reference="${prefix}_hip_joint">
            <implicitSpringDamper>true</implicitSpringDamper>
        </gazebo>

        <link name="${prefix}_hip">
            <visual><geometry><box size="0.05 0.05 0.05"/></geometry><material name="black"/></visual>
            <xacro:leg_inertia m="0.2"/>
        </link>

        <!-- THIGH JOINT -->
        <joint name="${prefix}_thigh_joint" type="revolute">
            <parent link="${prefix}_hip"/> <child link="${prefix}_thigh"/>
            <origin xyz="0 ${side_y * hip_l} 0" rpy="0 0 0"/>
            <axis xyz="0 1 0"/> 
            <limit lower="-1.0" upper="4.0" effort="20" velocity="20"/>
            <dynamics damping="0.5" friction="0.5"/>
        </joint>
        <gazebo reference="${prefix}_thigh_joint">
            <implicitSpringDamper>true</implicitSpringDamper>
        </gazebo>

        <link name="${prefix}_thigh">
            <visual>
                <origin xyz="0 0 ${-thigh_l/2}"/><geometry><cylinder radius="${leg_r}" length="${thigh_l}"/></geometry><material name="gray"/>
            </visual>
            <collision>
                <origin xyz="0 0 ${-thigh_l/2}"/><geometry><cylinder radius="${leg_r}" length="${thigh_l - 0.04}"/></geometry>
            </collision>
            <xacro:leg_inertia m="${leg_m}"/>
        </link>

        <!-- SHIN JOINT -->
        <joint name="${prefix}_shin_joint" type="revolute">
            <parent link="${prefix}_thigh"/> <child link="${prefix}_shin"/>
            <origin xyz="0 0 ${-thigh_l}" rpy="0 0 0"/>
            <axis xyz="0 1 0"/> 
            <limit lower="-4.0" upper="-0.5" effort="20" velocity="20"/>
            <dynamics damping="0.5" friction="0.5"/>
        </joint>
        <gazebo reference="${prefix}_shin_joint">
            <implicitSpringDamper>true</implicitSpringDamper>
        </gazebo>

        <link name="${prefix}_shin">
            <visual>
                <origin xyz="0 0 ${-shin_l/2}"/><geometry><cylinder radius="${leg_r*0.8}" length="${shin_l}"/></geometry><material name="black"/>
            </visual>
            <collision>
                <origin xyz="0 0 ${-shin_l}"/>
                <geometry><sphere radius="0.03"/></geometry>
                <surface>
                    <friction>
                        <ode><mu>200.0</mu><mu2>200.0</mu2></ode>
                    </friction>
                    <contact>
                        <ode><kp>1000000.0</kp><kd>100.0</kd><minDepth>0.001</minDepth></ode>
                    </contact>
                </surface>
            </collision>
            <xacro:leg_inertia m="${leg_m}"/>
        </link>
    </xacro:macro>

    <xacro:dog_leg prefix="front_left"  side_x="1"  side_y="1"/>
    <xacro:dog_leg prefix="front_right" side_x="1"  side_y="-1"/>
    <xacro:dog_leg prefix="rear_left"   side_x="-1" side_y="1"/>
    <xacro:dog_leg prefix="rear_right"  side_x="-1" side_y="-1"/>

   
    <ros2_control name="GazeboSystem" type="system">
        <hardware><plugin>gazebo_ros2_control/GazeboSystem</plugin></hardware>
        
        <xacro:macro name="ctrl_joint" params="name thigh_val shin_val">
            <joint name="${name}_hip_joint">
                <command_interface name="position"/><state_interface name="velocity"/><state_interface name="position"><param name="initial_value">0.0</param></state_interface>
            </joint>
            <joint name="${name}_thigh_joint">
                <command_interface name="position"/><state_interface name="velocity"/><state_interface name="position"><param name="initial_value">${thigh_val}</param></state_interface>
            </joint>
            <joint name="${name}_shin_joint">
                <command_interface name="position"/><state_interface name="velocity"/><state_interface name="position"><param name="initial_value">${shin_val}</param></state_interface>
            </joint>
        </xacro:macro>

        <xacro:ctrl_joint name="front_left" thigh_val="0.5" shin_val="-1.1"/>
        <xacro:ctrl_joint name="front_right" thigh_val="0.5" shin_val="-1.1"/>
        <xacro:ctrl_joint name="rear_left" thigh_val="0.5" shin_val="-1.1"/>
        <xacro:ctrl_joint name="rear_right" thigh_val="0.5" shin_val="-1.1"/>
    </ros2_control>

    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <parameters>$(find dog_controllers)/config/controllers.yaml</parameters>
        </plugin>
    </gazebo>
</robot>